# Connection string do MongoDB Atlas
MONGODB_URI=mongodb+srv://igorgiovane67_db_user:6PPEfzhEe4xNnSUj@fifa-db.qalyui5.mongodb.net/

# Nome do banco (opcional, se nao vier na URI)
MONGODB_DB=torneio-fifa

# Senha unica do administrador (quem sorteia grupos e lanca placares)
ADMIN_PASSWORD=igor123321

# Segredo usado para assinar o cookie de sessao do admin (qualquer string longa e aleatoria)
SESSION_SECRET=dasjndasnjdqjqeqijiwmdqifh
